body {
    margin: auto;
    text-align: center;
}

#tic-tac-toe {
    display: grid;
    grid-template: repeat(3, 225px) / repeat(3, 225px);
    gap: 5px;
    background-color: black;
    margin: auto;
    width: max-content;
    border-radius: 13px;
    border: ghostwhite solid 2px;
}

.grid-box {
    background-color: blue;
    width: 225px;
    height: 225px;
    border-radius: 10px;
}

.grid-box:hover {
    cursor: pointer;
    background-color: cyan;
}

.row {
    margin: auto;
}

.grid-symbol {
    color: white;
    font-size: 250px;
    display: block;
    margin: auto;
    margin-top: -16px;

}

.btn {
    padding: 20px;
    margin: 10px;
    margin-top: 0px; 
}

#hidden {
    visibility: hidden;
    margin-bottom: -35px;
}

#visible {
    visibility: visible;
}

